.card {
    width: 220px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .image {
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
        h4 {
            font-size: 18px;
            color: #4a4a4a;
        }
    }
}

@media (max-width: 767px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}
